### Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two Classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0, n_class_1

(900, 100)

In [ ]:
## Create a dataframe with Imbalanced dataset

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1,size=n_class_0),
    'target':[0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

In [11]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [12]:
df.tail()

     feature_1  feature_2  target
995   0.677156  -0.907952       1
996   0.963404  -1.818045       1
997  -0.378524  -0.122733       1
998   1.429559   1.794486       1
999   1.532273  -0.320510       1

In [13]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Up Sampling

In [14]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [16]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority,replace=True, #sample with replacement
                                 n_samples=len(df_majority),
                                 random_state=42
                                )

In [17]:
df_minority_upsampled.shape

(900, 3)

In [18]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   0.905343  -0.504849       1
992   0.000977  -0.185167       1
914  -0.072043   0.280911       1
971   0.819483   0.964646       1
960   0.456515  -0.166472       1

In [20]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [21]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down Sampling

In [22]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two Classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

## Create a dataframe with Imbalanced dataset

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1,size=n_class_0),
    'target':[0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

df=pd.concat([class_0,class_1]).reset_index(drop=True)

# Check the Class Distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [23]:
## Down Sampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [24]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_majority,replace=False, 
                                 n_samples=len(df_minority),
                                 random_state=42
                                )

df_majority_downsampled.shape

(100, 3)

In [25]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [26]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64

## Down sampling is bed bcz we are losing data